{% extends "base.html" %}
{% block page_title %}Valorant Store | Home{% endblock %}
{% block h1_title %}Valorant Store{% endblock %}
{% block main %}
    <main>
        <section>
        <h1>Welcome to the Valorant Store!</h1>
        <p>Here you can find all the latest skins and accessories for your favorite game!</p>
        <p>Click on the shop button to see what's available!</p>
        <p>Click on the night market button to see what's on sale!</p>
        <p>Click on the accessories button to see what's available!</p>
        <p>Here you can find all the latest skins and accessories for your favorite game!</p>
        <p>Click on the shop button to see what's available!</p>
        <p>Click on the night market button to see what's on sale!</p>
        <p>Click on the accessories button to see what's available!</p>
        </section>
    </main>
{% endblock %}