{% extends "base.html" %}
{% block page_title %}Valorant Store | Night Market{% endblock %}
{% block h1_title %}Night Market{% endblock %}
{% block main %}
<main>
  <section>
    <h1>Wallet</h1>
    <div class="wallet">
      <h2>Valorant Credits:</h2>
      <p>{{val_credits}}</p>
      <h2>Radianite Points:</h2>
      <p>{{rad_points}}</p>
      <h2>Kingdom Credits:</h2>
      <p>{{kingdom_credits}}</p>
    </div>
    <div class="time-left-container">
      <p>{{time_left_text}}</p>
      <p class="time-left">{{timeleft_nightmarket}}</p>
    </div>
    <div class="night-market-container">
      <div class="night-market-img">
        <img src="{{nightmarket0}}" alt="{{nightmarketname0}}" />
        <div class="night-market-info">
          <h3>{{nightmarketname0}}</h3>
          <p>Original Cost: {{orgPrice0}}</p>
          <p>Discounted Cost: <strong>{{discountPrice0}}</strong></p>
        </div>
      </div>
      <div class="night-market-img">
        <img src="{{nightmarket1}}" alt="{{nightmarketname1}}" />
        <div class="night-market-info">
          <h3>{{nightmarketname1}}</h3>
          <p>Original Cost: {{orgPrice1}}</p>
          <p>Discounted Cost: <strong>{{discountPrice1}}</strong></p>
        </div>
      </div>
      <div class="night-market-img">
        <img src="{{nightmarket2}}" alt="{{nightmarketname2}}" />
        <div class="night-market-info">
          <h3>{{nightmarketname2}}</h3>
          <p>Original Cost: {{orgPrice2}}</p>
          <p>Discounted Cost: <strong>{{discountPrice2}}</strong></p>
        </div>
      </div>
      <div class="night-market-img">
        <img src="{{nightmarket3}}" alt="{{nightmarketname3}}" />
        <div class="night-market-info">
          <h3>{{nightmarketname3}}</h3>
          <p>Original Cost: {{orgPrice3}}</p>
          <p>Discounted Cost: <strong>{{discountPrice3}}</strong></p>
        </div>
      </div>
      <div class="night-market-img">
        <img src="{{nightmarket4}}" alt="{{nightmarketname4}}" />
        <div class="night-market-info">
          <h3>{{nightmarketname4}}</h3>
          <p>Original Cost: {{orgPrice4}}</p>
          <p>Discounted Cost: <strong>{{discountPrice4}}</strong></p>
        </div>
      </div>
      <div class="night-market-img">
        <img src="{{nightmarket5}}" alt="{{nightmarketname5}}" />
        <div class="night-market-info">
          <h3>{{nightmarketname5}}</h3>
          <p>Original Cost: {{orgPrice5}}</p>
          <p>Discounted Cost: <strong>{{discountPrice5}}</strong></p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
