<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valorant Store | Home</title>
    <link href="..\static\styles\styles.css" rel="stylesheet" type="text/css" />
    <link href="{{logo}}" rel="icon" type="image/webp" />
    <script src="..\static\styles\script.js" defer></script>
  </head>
  <body>
    <nav>
      <img
        src="{{logo}}"
        alt="Valorant brand logo"
        tabindex="0"
        role="button"
        aria-label="Valorant brand logo"
      />
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="itemshop.html">Shop</a></li>
        <li><a href="nightmarket.html">Night Market</a></li>
        <li><a href="accessories.html">Accessories</a></li>
      </ul>
      <ul>
        <li><button class="log-in">{{login}}</button></li>
      </ul>
    </nav>
    <header>
      <h1>Night Market</h1>
      <p>Made by: la degaine a tt</p>
    </header>
    <div class="login_box animate">
      <div class="login_header">
        <span class="material-symbols-outlined close-button"
          ><button>close</button></span
        >
        <h1>Login</h1>
        <p>Please enter your username and password to login</p>
      </div>
      <div class="login_form">
        <form action="" method="POST">
          <p>Username</p>
          <input type="text" name="username" placeholder="Username" required />
          <p>Password</p>
          <div>
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
            />
            <span class="material-symbols-outlined visibility">
              <button type="button" onclick="visibility()">visibility_off</button>
            </span>
          </div>
          <input type="submit" name="submit" value="Login" />
        </form>
      </div>
      <svg
        version="1.1"
        id="L9"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 100 100"
        enable-background="new 0 0 0 0"
        xml:space="preserve"
        class="loader"
      >
        <path
          fill="#fff"
          d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"
        >
          <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="rotate"
            dur="1s"
            from="0 50 50"
            to="360 50 50"
            repeatCount="indefinite"
          />
        </path>
      </svg>
    </div>
    <main>
      <section>
        <h2>Night Market</h2>
        <div class="time-left-container">
          <p>{{time_left_text}}</p>
          <p class="time-left">{{timeleft_nightmarket}}</p>
        </div>
        <div class="night-market-container">
          <div class="night-market-img">
            <img src="{{nightmarket0}}" alt="{{nightmarketname0}}" />
            <div class="night-market-info">
              <h3>{{nightmarketname0}}</h3>
              <p>Original Cost: {{orgPrice0}}</p>
              <p>Discounted Cost: <strong>{{discountPrice0}}</strong></p>
            </div>
          </div>
          <div class="night-market-img">
            <img src="{{nightmarket1}}" alt="{{nightmarketname1}}" />
            <div class="night-market-info">
              <h3>{{nightmarketname1}}</h3>
              <p>Original Cost: {{orgPrice1}}</p>
              <p>Discounted Cost: <strong>{{discountPrice1}}</strong></p>
            </div>
          </div>
          <div class="night-market-img">
            <img src="{{nightmarket2}}" alt="{{nightmarketname2}}" />
            <div class="night-market-info">
              <h3>{{nightmarketname2}}</h3>
              <p>Original Cost: {{orgPrice2}}</p>
              <p>Discounted Cost: <strong>{{discountPrice2}}</strong></p>
            </div>
          </div>
          <div class="night-market-img">
            <img src="{{nightmarket3}}" alt="{{nightmarketname3}}" />
            <div class="night-market-info">
              <h3>{{nightmarketname3}}</h3>
              <p>Original Cost: {{orgPrice3}}</p>
              <p>Discounted Cost: <strong>{{discountPrice3}}</strong></p>
            </div>
          </div>
          <div class="night-market-img">
            <img src="{{nightmarket4}}" alt="{{nightmarketname4}}" />
            <div class="night-market-info">
              <h3>{{nightmarketname4}}</h3>
              <p>Original Cost: {{orgPrice4}}</p>
              <p>Discounted Cost: <strong>{{discountPrice4}}</strong></p>
            </div>
          </div>
          <div class="night-market-img">
            <img src="{{nightmarket5}}" alt="{{nightmarketname5}}" />
            <div class="night-market-info">
              <h3>{{nightmarketname5}}</h3>
              <p>Original Cost: {{orgPrice5}}</p>
              <p>Discounted Cost: <strong>{{discountPrice5}}</strong></p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Valorant &copy; 2023</p>
      <p>Random garbage</p>
    </footer>
  </body>
</html>
